.background {
  height: 70vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("https://cdn.britannica.com/88/132688-050-E9739DD9/Skyline-Jakarta-Indonesia.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tenangfont {
  font-size: 2.7vmin;
}
.flyspacesize {
  height: 100%;
  width: 100%;
}

.flyspace {
  height: 100%;
  width: 100%;
}
.contsize {
  height: 100%;
  width: 100%;
}
.phone {
  height: 3vh;
}

.button {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.pic {
  height: 100%;
  width: 100%;
}

.logosize {
  height: 10vw;
}

.h1 {
  
  font-size: 5vmin;
  text-align: center;
}

.h2 {
 
  font-size: 8vmin;
  text-align: center;
}

.h3 {
  
  font-size: 4vmin;
  text-align: center;
  color: gray;
}

.graytext {
  color: gray;
}

.btnsize{

  font-size: 3vmin;
  
}

.marginleft{
  margin-left: 10vmin;
}
