 .color {
    color: gray;
  }
 .map {
    height: 100%;
    width: 100%;
    
  }
 
  .sizediv{
    height:100%;
    width: 100%
  
  }

  .text {
    font-size: 20px;
  }

  .graytext {
    color: gray;
  }


  .tbmargin{
    margin-top:80px;
    margin-bottom:80px;
  }

  .mleft{
    margin-left: 7vmin;
    margin-right: 4vmin;
  }